@{
    Layout = "../Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/ExamenesMedicos.css" rel="stylesheet" />
</head>

<h2>Consulta de expedientes</h2>

<div class="row">
    <div class="col-4">
        <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Información del paciente</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Notas médicas y de enfermería</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Antecedentes</a>
        </div>
    </div>
    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <div class="nombrePaciente">
                <label for="formGroupExampleInput" class="form-label">Nombre completo del paciente</label>
                <input type="text" class="form-control" id="Nombre" placeholder="Alonso Rojas Araya">
            </div>

            <div class="fechaNacimiento">
                <label for="formGroupExampleInput2" class="form-label">Fecha de nacimiento</label>
                <input type="text" class="form-control" id="FechaNacimiento" placeholder="1995-01-29">
            </div>

            <div class="direccionPaciente">
                <label for="formGroupExampleInput" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="Direccion" placeholder="Urbanización El Roble, Casa #4, Mercedes Norte, Heredia">
            </div>

            <div class="diagnostico">
                <label for="formGroupExampleInput2" class="form-label">Diagnóstico médico</label>
                <input type="text" class="form-control" id="Diagnostico" placeholder="Covid 19, virus no especificado - 04/12/2022">
                <input type="text" class="form-control" id="Diagnostico" placeholder="Dermatitis atópica - 13/01/2021">
            </div>
        </div>


    </div>
</div>

