@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script src="~/js/Pages/Expedientes/MostrarExpediente.js"></script>
}
<head>
    <link href="~/css/Pages/Expediente/MostrarExpediente.css" rel="stylesheet" />
</head>
<div class="container">
    <h1>Detalles del Expediente</h1>
    <div class="row">
        <div class="col-md-6">
            <h4>Información del Expediente</h4>
            <p><strong>Correo del Paciente:</strong> <span id="correoPaciente"></span></p>
            <p><strong>Notas de Enfermería:</strong> <span id="notasEnfermeria"></span></p>
            <p><strong>Notas Médicas:</strong> <span id="notasMedicas"></span></p>
            <p><strong>Historial Médico:</strong> <span id="historialMedico"></span></p>
        </div>
        <div class="col-md-6">
            <h4>Citas</h4>
            <div id="citas"></div>
        </div>
    </div>
    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>