@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/Expedientes/MostrarExpediente.js"></script>
}

<head>
    <link href="~/css/Pages/ExamenesMedicos/ResultadosEnfermera.css" rel="stylesheet" />
</head>

<div class="banner-container">
    <img class="banner-image" src="/imgs/Expediente/mostrarexpediente.jpg" alt="Banner" />
</div>

<div class="container">
    <div id="cuadroFormulario" class="form-container" style="display: none;">
        <form id="examenForm" class="form">
            <div class="form-group d-flex align-items-center">
                <label for="correoPaciente" class="mr-2">Correo del Paciente:</label>
                <input type="text" id="correoPaciente" name="correoPaciente" class="form-control">
                <button type="submit" id="buscarExpedienteBtn" class="btn btn-primary ml-2">Buscar Expediente</button>
            </div>
        </form>
    </div>

    <div id="expedienteContainer" class="row mt-4" style="display: none;">
        <div class="col-md-6 mx-auto d-flex flex-column align-items-center">
            <h2>Información del Expediente</h2>

            <h3>Notas de enfermería</h3>
            <div id="notasEnfermeria" class="form-group"></div>

            <h3>Notas Medicas</h3>
            <div id="notasMedicas" class="form-group"></div>

            <h3>Antecedentes Medicos</h3>
            <div id="antecedentesMedicosContainer" class="form-group"></div>

            <h3>Citas medicas</h3>
            <div id="citasContainer" class="form-group"></div>

            <h3>Examenes medicos</h3>
            <div id="examenesMedicosContainer" class="form-group"></div>

            <h3>Recetas medicas</h3>
            <div id="recetasContainer" class="form-group"></div>

            <h3>Facturas</h3>
            <div id="facturasContainer" class="form-group"></div>

            <h3>Diagnosticos</h3>
            <div id="diagnosticosContainer" class="form-group"></div>
        </div>
    </div>
</div>