@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "../Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_UI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/pages/Perfil/Perfil.css"></link>
</head>

<div id="PerfilHeader">

</div>

<section class="articles">

    <article id="article-agendarCita">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/agendarcita.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Agendar cita</h2>
                <p>
                    Agende su cita seleccionando la especialidad que requiere, y el horario que mas le convenga
                </p>
                <a href="../Citas/CitasEspecialidad" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-historialCitas">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/historialcitas.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Historial de citas y pagos</h2>
                <p>
                    Consulte sus citas y pagos realizados
                </p>
                <a href="../Pagos/VistaPagos" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-EditarPerfil" >
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/editPerfil.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Editar Perfil</h2>
                <p>
                    Modifique su información personal
                </p>
                <a href="../Perfil/EditarPerfil" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>
    <article id="article-misRecetasMedicas" >
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/recetas.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Mis recetas medicas</h2>
                <p>
                    Consulte sus recetas médicas.
                </p>
                <a href="../Recetas/VistaRecetas" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>


    <article id="article-misExamenes">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrarex.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Mis exámenes médicos</h2>
                <p>
                    Consulte la información referente a sus exámenes médicos e ingrese o consulte sus resultados. 
                </p>
                <a href="../ExamenMedico/ResultadosPaciente" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>
    <article id="article-registrarReceta">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrare.png" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar receta medica</h2>
                <p>
                    Realice el registro de exámenes o recetas médicas de su paciente.
                </p>
                <a href="../Recetas/RegistrarReceta" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-registrarExpediente">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrarexpediente.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Expediente</h2>
                <p>
                    Realice el registro de expediente.
                </p>
                <a href="../Expedientes/RegistrarExpediente" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-mostrarExpediente">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/mostrarexpedientes.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Mostrar Expediente</h2>
                <p>
                    Consulte los expedientes registrados.
                </p>
                <a href="../Expedientes/MostrarExpediente" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-pagosSecretaria">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/historialpagos.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registro de pagos</h2>
                <p>
                   Registre los pagos del paciente en ventanilla.
                </p>
                <a href="../Pagos/PagosSecretaria" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>


    <article id="article-misCitas" >
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/miscitas.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Citas</h2>
                <p>
                    Consulte las citas que tiene programadas.
                </p>
                <a href="../Citas/CitasProgramadas" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-reportes">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/reportes.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Reportes</h2>
                <p>
                    Consulte los reportes financieros.
                </p>
                <a href="../ReportesFinancieros/ReportesFinancieros" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-gestionInformacion" >
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/gestion.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Gestión de información </h2>
                <p>
                    Configure la información general del hospital
                </p>
                <a href="../GestionInformacion/Menu" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-subirExamenes" >
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/subirexamenes.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Exámenes Médicos </h2>
                <p>
                    Registre los exámenes médicos sugeridos para su paciente. 
                </p>
                <a href="../ExamenMedico/RegistroExamenes" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-registrarNotaMedica">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrarnotamedica.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Notas Médicas</h2>
                <p>
                    Registre notas médicas para un paciente.
                </p>
                <a href="../Expedientes/RegistrarNotaMedica" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-registrarNotaEnfermeria">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registronotaenfermeria.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Nota de Enfermería</h2>
                <p>
                    Registre notas de enfermería para un paciente.
                </p>
                <a href="../Expedientes/RegistrarNotaEnfermeria" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>


    <article id="article-registrarHistorialMedico">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrohistorialmedico.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Antecedente Medico</h2>
                <p>
                    Registre el antecedente medico de un paciente.
                </p>
                <a href="../Expedientes/RegistrarHistorialMedico" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-addServiciosCita">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/recetas.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Servicios en consulta</h2>
                <p>
                    Registros de servicios adicionales en consulta.
                </p>
                <a href="../Citas/AddServiciosCita" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-resultadoEnfermera">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrarnotamedica.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Resultados médicos</h2>
                <p>
                    Registre resultados médicos para un paciente.
                </p>
                <a href="../ExamenMedico/ResultadosEnfermera" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

    <article id="article-registrarDiagnostico">
        <div class="article-wrapper">
            <figure>
                <img src="/imgs/Perfil/registrarDiagnostico.jpg" alt="" />
            </figure>
            <div class="article-body">
                <h2>Registrar Diagnostico</h2>
                <p>
                    Registre un diagnostico para un paciente.
                </p>
                <a href="../Expedientes/RegistrarDiagnostico" class="read-more">
                    Ver más <span class="sr-only">about this is some title</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                </a>
            </div>
        </div>
    </article>

   
    

</section>