@model List<SIMEPCI_Web.Controllers.Cita>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/Pages/Agenda.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
</head>

<div class="container">
    <h2>Agendar cita</h2>
    <div class="menu">
        <a href="@Url.Action("RegistroCitas", "Agenda")" class="menu-item active">Registro de citas</a>
        <a href="@Url.Action("Pagos", "Agenda")" class="menu-item">Pagos</a>
        <a href="@Url.Action("DashboardDoctor", "Agenda")" class="menu-item">Dashboard Doctor</a>
    </div>
    <div class="content">
        <div id="calendar"></div>
        <div class="cita-confirmada">
            <h3>Su cita fue reservada con éxito!</h3>
            <a href="#" class="btn-ok">OK</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
    <script src="~/js/Pages/Agenda.js"></script>
}