@{
    ViewData["Title"] = "Validación de Rol";
    Layout = "../Shared/_Layout_.cshtml";
}

@section Scripts {
    <script src="~/js/pages/iniciosesion/validacionroles.js"></script>
}
<div class="container" >
    <div>
        <h3>Validación de Roles</h3>
        <p>El usuario posee mas de un rol por favor elija uno para continuar</p>
        <div id="ValidacionRoles" >

        </div>
        <button id="btnRol" class="btn btn-success">Elegir Rol</button>
    </div>
</div>