@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "../Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/js/pages/examenes/RegistrarExamen.js"></script>

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/Pages/ExamenesMedicos/ExamenesMedicos.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Formulario</title>
</head>
<body>

    <div class="banner-container">
        <img class="banner-image" src="/imgs/Examenes/banner.jpg" alt="Banner" />
    </div>

    <div class="form-container">
        <form id="examenForm">
            <div>
                <label for="correo">Correo del paciente:</label>
                <input type="text" id="correo" name="correo">
            </div>
            <div>
                <label for="tipo">Tipo de exámen:</label>
                <select id="tipo" name="tipo">
                </select>
            </div>
            <div>
                <label for="justificacion">Justificación:</label>
                <textarea id="justificacion" name="justificacion" rows="4" cols="50"></textarea>
            </div>
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>




