@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/citas/citasprogramadas.js"></script>

}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <link href="~/css/Pages/Citas/CitasProgramadas.css" rel="stylesheet" />
</head>
<body>
    <h2>Registro de citas Programadas</h2>
    <p>En el siguiente calendario podrá visualizar todas sus citas programadas según el rol de la sesión actual.</p>
    <h3 id="textoEliminar" >Para eliminar una cita, únicamente debe dar un click sobre ella.</h3>
    <div id='calendarPaciente'></div>
    <div id='calendarDoctor'></div>
    <div id='calendarAdministrador'></div>
</body>
</html>
