@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    
    <script src="https://www.paypal.com/sdk/js?client-id=Aad2-aEY25oAt25LJTEcMRkBmjTly6PDkjZYn8yrUf2zHFpABjwFM3WvyhwOGTT2gUB31ck32iydme4n"></script>
    <script src="~/js/pages/Pagos/Paypal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/pages/Pagos/Paypal.css"></link>
</head>
<body>

    <div class="banner-container">
        <img class="banner-image" src="/imgs/Pagos/banner2.jpg" alt="Banner" />
    </div>

    <div class="factura">
        
        <div class="encabezado">
            <h3>Factura</h3>
            <p>Fecha: <span id="fecha">[Fecha]</span></p>
            <p>Número de Factura: <span id="numeroFactura">[Número de Factura]</span></p>
            <p>Cliente: <span id="cliente">[Nombre del Cliente]</span></p>
        </div>

       
        <div class="desglose">
            <h6>Desglose de Productos</h6>
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody id="desgloseProductos">
                    
                </tbody>
            </table>
        </div>

        
        <div class="desglose">
            <p>Impuesto: <span id="impuesto">[Impuesto]</span></p>
        </div>

       
        <div class="total">
            <p>Total: $<span id="total">[Total]</span></p>
        </div>
    </div>

    <div class="paypal">
        <div id="paypal-button-container"></div>
    </div>

</body>
</html>