@{
    Layout = "../Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/recetas/registrarreceta/griddefinition.js"></script>
    <script src="~/js/pages/recetas/registrarreceta/registrarreceta.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="~/css/pages/recetas/registrarreceta.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Registro de Recetas</h2>
            <form method="post">
                <div class="form-group">
                    <label for="txtPaciente">Paciente</label>
                    <input class="form-control" id="txtPaciente" readonly="readonly" type="text" />
                </div>
                <div class="form-group">
                    <label for="txtNombreMedicamento">Nombre del Medicamento</label>
                    <input id="txtNombreMedicamento" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtDosis">Dosis Recomendada</label>
                    <input id="txtDosis" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label for="txtDuracionTratamiento">Duracion del tratamiento en días</label>
                    <input type="number" min="1" max="12" id="txtDuracionTratamiento" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="txtRecomendacionesAdicionales">Recomendaciones adicionales</label>
                    <textarea id="txtRecomendacionesAdicionales" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <button id="btnRegistrar" type="button" class="btn btn-primary">Registrar</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Lista de Pacientes</h2>
            <div id="myGrid" style="height: 300px; width:100%;" class="ag-theme-alpine"></div>
        </div>
    </div>
</body>