@{
    ViewData["Title"] = "Reportes financieros";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="~/js/pages/ReportesFinancieros/ReportesFinancieros.js"></script>
}

<link rel="stylesheet" href="~/css/Pages/ReportesFinancieros/ReportesFinancieros.css" />

<h2>Reportes financieros</h2>

<h2>Reportes Mensuales</h2>
<table id="tablaGanancias">
    <thead>
        <tr>
            <th>Mes correspondiente</th>
            <th>Ganancias por citas</th>
            <th>Ganancias por servicios</th>
            <th>Ganancias totales</th>
        </tr>
    </thead>
    <tbody>
        <!-- js -->
    </tbody>
</table>

<div class="button-container">
    <button class="btn btn-primary" onclick="window.history.back()">Regresar</button>
    <button class="btn btn-success" onclick="descargarPDF()">Descargar como PDF</button>
</div>