.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.b-color1 {
    background-color: #D5F0C1 !important;
    color: black;
}

.b-color2 {
    background-color: #F9F7C9 !important;
    color: black;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.banner-image {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: bold;
}

