@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/Configuraciones/Configuraciones.js"></script>

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link href="~/css/pages/configuraciones/configuraciones.css" rel="stylesheet" />
</head>
<body>

    <div class="banner-container">
        <img class="banner-image" src="/imgs/Configuraciones/13.png" alt="Banner" />
    </div>
    <div class="form-container">
        <div>
            <h4>1. Notificación de cita (días)</h4>
            <input type="text" id="Recordatorios" placeholder="Ingrese el texto de notificación" min="0">
            <button id="updateRecordatorio">Actualizar</button>
        </div>

        <div>
            <h4>2. Impuesto de servicio (%)</h4>
            <input type="number" id="Impuesto" placeholder="Ingrese el impuesto de servicio" min="0">
            <button id="updateImpuesto">Actualizar</button>
        </div>

        <div>
            <h4>3. IVA (%)</h4>
            <input type="number" id="IVA" placeholder="Ingrese el valor del IVA" min="0">
            <button id="updateIva">Actualizar</button>
        </div>
        <button class="boton" onclick="window.location.href = '../GestionInformacion/Menu'">Regresar</button>
    </div>



</body>
</html>
