/*
    Paleta de colores
80BCBD
AAD9BB
D5F0C1
F9F7C9

*/


body {
    background-color: #F9F7C9;
    font-family: 'Krub',sans-serif;
}
#calendar {
    width: 100%; 
    height: 500px; 
    margin: 0 auto; 
}